@charset "utf-8";
	.Ellipse_1
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.Ellipse_4
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	opacity : 0.45;
	filter: alpha(opacity=45) progid:DXImageTransform.Microsoft.Alpha(opacity=45) ;
}
.Ellipse_3
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	opacity : 0.3;
	filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Ellipse_5
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	opacity : 0.3;
	filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Ellipse_2
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	opacity : 0.4;
	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
}
