.footer {
  box-shadow: 0 0 8px 1px rgba(131, 131, 131, 0.6);
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

  &__img {
    object-fit: contain;
    cursor: pointer;
  }
  &__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
